{% extends "base.html" %}
{% block page_content %}

<!-- <div class="container-fluid">
    <div class="row">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="{{url_for('static', filename='/images/6sided_dice.jpg')}}" alt="Dice" style="width: 30px;">
        <div class="card-body">
          <h4 class="card-title">Roll a dice!</h4>
        </div>
      </div>
    </div>
</div> -->

<br>
<div class="container">
        <a href="/covid19-app" class="btn btn-primary btn-lg btn-block" role="button">Covid-19 Tracker</a>
        <br>
        <a href="/dice" class="btn btn-success btn-lg btn-block" role="button">Roll a Dice!</a>
        <br>
        <a href="/tambola" class="btn btn-primary btn-lg btn-block" role="button">Play Tambola</a>
        <br>
        <a href="/states" class="btn btn-success btn-lg btn-block" role="button">Zone-wise Covid-19 Status</a>
        <br>
        <a href="#" class="btn btn-primary btn-lg btn-block" role="button">Application 5</a>
        <br>
        <a href="#" class="btn btn-success btn-lg btn-block" role="button">Application 6</a>
        <br>
        <a href="#" class="btn btn-primary btn-lg btn-block" role="button">Application 7</a>
        <br>
    </div>

{% endblock %}