{% extends "base.html" %}
{% block page_content %}

<div class="container">
    <div class="row">
      <div class="col-xs-4" id="apps">
        <a href="/covid19-app"" class="mdc-icon-button material-icons md-72">coronavirus</a>
        <p>Covid Stat</p>
      </div>
      <div class="col-xs-4" id="apps">
        <a href="/dice" class="mdc-icon-button material-icons md-72">casino</a>
        <p>Roll a Dice</p>
      </div>
      <div class="col-xs-4" id="apps">
        <a href="/tambola" class="mdc-icon-button material-icons md-72">games</a>
        <p>Tambola</p>
      </div>
      <div class="col-xs-4" id="apps">
        <a href="/states" class="mdc-icon-button material-icons md-72">bar_chart</a>
        <p>Covid Zone</p>
      </div>
      <div class="col-xs-4" id="apps">
        <a href="/bot" class="mdc-icon-button material-icons md-72">android</a>
        <p>Bot</p>
      </div>
      <div class="col-xs-4" id="apps">
        <a href="#" class="mdc-icon-button material-icons md-72">device_unknown</a>
        <p>Next App</p>
      </div>
      <div class="col-xs-4" id="apps">
        <a href="#" class="mdc-icon-button material-icons md-72">device_unknown</a>
        <p>Next App</p>
      </div>
      <div class="col-xs-4" id="apps">
        <a href="#" class="mdc-icon-button material-icons md-72">device_unknown</a>
        <p>Next App</p>
      </div>
      <div class="col-xs-4" id="apps">
        <a href="#" class="mdc-icon-button material-icons md-72">device_unknown</a>
        <p>Next App</p>
      </div>
      <div class="col-xs-4" id="apps">
        <a href="#" class="mdc-icon-button material-icons md-72">device_unknown</a>
        <p>Next App</p>
      </div>
      <div class="col-xs-4" id="apps">
        <a href="#" class="mdc-icon-button material-icons md-72">device_unknown</a>
        <p>Next App</p>
      </div>
      <div class="col-xs-4" id="apps">
        <a href="#" class="mdc-icon-button material-icons md-72">device_unknown</a>
        <p>Next App</p>
      </div>
      <div class="col-xs-4" id="apps">
        <a href="#" class="mdc-icon-button material-icons md-72">device_unknown</a>
        <p>Next App</p>
      </div>
      <div class="col-xs-4" id="apps">
        <a href="#" class="mdc-icon-button material-icons md-72">device_unknown</a>
        <p>Next App</p>
      </div>
      <div class="col-xs-4" id="apps">
        <a href="#" class="mdc-icon-button material-icons md-72">device_unknown</a>
        <p>Next App</p>
      </div>
    </div>
</div>

{% endblock %}