{% extends "base.html" %}
{% block title %}Applications{% endblock %}
{% block page_content %}
<div class="page-header">
    <h3><pre>A   L I S T    O F   C O O L   A P P S</pre></h3>
</div>
    <div class="container">
        <a href="/covid19-app" class="btn btn-primary btn-lg btn-block" role="button">Covid-19 Tracker</a>
        <br>
        <a href="/dice" class="btn btn-success btn-lg btn-block" role="button">Roll a Dice!</a>
        <br>
        <a href="/tambola" class="btn btn-primary btn-lg btn-block" role="button">Play Tambola</a>
        <br>
        <a href="/states" class="btn btn-success btn-lg btn-block" role="button">Zone-wise Covid-19 Status</a>
        <br>
        <a href="#" class="btn btn-primary btn-lg btn-block" role="button">Application 5</a>
        <br>
        <a href="#" class="btn btn-success btn-lg btn-block" role="button">Application 6</a>
        <br>
        <a href="#" class="btn btn-primary btn-lg btn-block" role="button">Application 7</a>
        <br>
    </div>

{% endblock %}