{% extends "base.html" %}
{% block page_content %}

<div class="container">
  <div class="card" style="width:100%">
    <div class="polaroid">
    <img class="card-img-top" id="myImage" onclick="myFunction()" src="{{url_for('static', filename='images/dice_app/dq.png')}}" alt="Card image cap" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Touch to Roll</h4>
    </div>
  </div>
  </div>
</div>

<br>
<div class="container">              
  <ul class="pager">
    <li class="previous"><a href="/apps">&#8610; Go Back</a></li>
  </ul>
</div>
<br>
{% endblock %}