{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}

<div class="page-header">
    <h3><pre>DISTRICT-WISE COVID-19 STATUS</pre></h3>
</div>
{{ wtf.quick_form(form) }}
<br>

<div class="container">
    {% if image_name %}
        <img src="{{url_for('static', filename=image_name)}}" class="img-responsive" alt="Graph"  width="800" height="600">
    {% endif %}
</div>

<div class="container">              
    <ul class="pager">
      <li class="previous"><a href="/apps">&#8610; Go Back</a></li>
    </ul>
</div>
<br>


{% endblock %}